# reminder

In [2]:
number = int(input("Enter a number: "))
remainder = number % 2
print(remainder)

Enter a number: 12
0

1.datatype of user input

In [1]:
user_input = input("Enter something: ")
variable_type = type(user_input)
print("The type of the variable is:", variable_type)

Enter something: 45
The type of the variable is: <class 'str'>

2.greater number

In [4]:
a = 12
b = 20

if b>=a:
    print("b greater than a")
else:
    print("b less than a")

b greater than a

3.double spsce

In [3]:
string = input("Enter a string: ")
string_without_double_space = " ".join(string.split())

print("String without double space:", string_without_double_space)

Enter a string: sandeep  m  olekar
String without double space: sandeep m olekar

4.find spaces

In [6]:
a = "a kick   boxer"

b = a.find(" ")
print(b)

1

5.replace a spsce

In [7]:
a = "a kick   boxer"

b = a.replace("  ","")
print(b)

a kick boxer

6.Fruts by user

In [5]:
fruits = []

for i in range(7):
    fruit = input("Enter a fruit: ")
    fruits.append(fruit)

print("List of fruits:", fruits)

Enter a fruit: 11
Enter a fruit: 55
Enter a fruit:
Enter a fruit: 4
Enter a fruit: 4
Enter a fruit: 4
Enter a fruit: 55
List of fruits: ['11', '55', '', '4', '4', '4', '55']

marks = []

7. sort marks

In [ ]:
marks=[]

for i in range(6):
    marks_s= input("enter student marks")
    marks.append(marks_s)
    
sortedmarks = sorted(marks)
    
print(sortedmarks)

8. sort marks

In [ ]:
marks = []

# Accept marks of 6 students
for i in range(6):
    student_marks = float(input("Enter the marks of student {}: "))
    marks.append(student_marks)

# Sort the marks in ascending order
sorted_marks = sorted(marks)

# Display the marks in sorted order
print("Marks in sorted order:")
for mark in sorted_marks:
    print(mark)

9. tuple is imutable

In [47]:
mytuple = [1,2,3,4,5]

mytuple[1]= 12

In [ ]:
mytuple

10. sum of list values

In [ ]:
mylist = []

for i in range(4):
    inputlist= float(input("enter values:{}".format(i+1)))
    mylist.append(inputlist)
    
sumoflist= sum(mylist)

print(sumoflist)

11. sum of list values

In [1]:
mylist = []

for i in range(4):
    inputlist= float(input("enter values:{}".format(i+1)))
    mylist.append(inputlist)
    
sumoflist= sum(mylist)

print(sumoflist)

enter values:110
enter values:210
enter values:310
enter values:410
40.0

12. find zeros

In [7]:
zeros = (1,2,3,0,1,4,0,0,10)

print(zeros.count(0))

3

13. zeros

In [8]:
my_tuple = (0, 2, 0, 4, 0, 6, 8, 0, 10)

count = 0

for value in my_tuple:
    if value == 0:
        count += 1

print("Number of zeros in the tuple:", count)

Number of zeros in the tuple: 4

14. number of zeros with all numbers

In [9]:
my_tuple = (0, 2, 0, 4, 0, 6, 8, 0, 10)

count = 0

for value in my_tuple:
    if str(value).count("0") > 0:
        count += 1

print("Number of zeros in the tuple:", count)

Number of zeros in the tuple: 5

15. count of zeros

In [11]:
mytuple = (1,23,0,10,10,23,0,20,40)

count = 0

for value in mytuple:
    
    if str(value).count("0") >0:
        
        count += 1
        
print(count)

6

16. update dictionory

In [29]:
a = {
    "name":"manoj",
    "age":"23",
    "marks":[58,99,67]
}
a.update({"name":"manu","age":"24"})
print(mydictupdate)
print(a)

{'name': 'manu', 'age': '24'}
{'name': 'manu', 'age': '24', 'marks': [58, 99, 67]}

17. update keys and values

In [27]:
my_dict = {"name": "John", "age": 25, "city": "New York"}

# Update the value of a specific key
my_dict["age"] = 30

# Update the keys and values
my_dict.update({"name": "Mike", "city": "London"})

print(my_dict)

{'name': 'Mike', 'age': 30, 'city': 'London'}

18. get name and values

In [31]:
a = {
    "name":"manoj",
    "age":"23",
    "marks":[58,99,67]
}

a.get("name")

'manoj'

len of dict

In [32]:
s = {1,2,3,4,5,6,7,8,9}

len(s)

9

Remove value in list

In [33]:
s.remove(9)

In [34]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [35]:
s.add(10)
s

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [37]:
s.union({11,20})

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 20}

In [38]:
s.pop()

1

In [39]:
print(s)

{2, 3, 4, 5, 6, 7, 8, 10}

In [41]:
len(s)

8

Datatype of {}

In [42]:
s = {}

print(type(s))

<class 'dict'>

User input

In [43]:
dictionary = {
    "स्वागत": "Welcome",
    "प्यार": "Love",
    "खुशी": "Happiness",
    "सुंदरता": "Beauty",
    "संयम": "Discipline"
}

while True:
    word = input("Enter a Hindi word to look up (or 'exit' to quit): ")

    if word == 'exit':
        break

    if word in dictionary:
        translation = dictionary[word]
        print("Translation:", translation)
    else:
        print("Translation not found.")

Enter a Hindi word to look up (or 'exit' to quit): hand
Translation not found.
Enter a Hindi word to look up (or 'exit' to quit): welcome
Translation not found.
Enter a Hindi word to look up (or 'exit' to quit): सुंदरत
Translation not found.
Enter a Hindi word to look up (or 'exit' to quit): "संयम"
Translation not found.
Enter a Hindi word to look up (or 'exit' to quit): exit

Unique number (to remove repeated values)

In [44]:
unique = []

for i in range(4):
    num = input("enter the number: ")
    unique.append(num)
    
uniquenum = set(unique)

print(uniquenum)

enter the number: 12
enter the number: 15
enter the number: 20
enter the number: 50
{'12', '15', '20', '50'}

Unique numbers

In [45]:
numbers = [1, 2, 3, 4, 4, 2, 1, 5, 6, 6, 7]
unique_numbers = set(numbers)

print("Unique numbers:", unique_numbers)

Unique numbers: {1, 2, 3, 4, 5, 6, 7}

Unique numbers

In [46]:
unique = []

for i in range(4):
    num = input("enter the number: ")
    unique.append(num)
    
uniquenum = set(unique)

print(uniquenum)

enter the number: 1
enter the number: 2
enter the number: 1
enter the number: 2
{'1', '2'}

Length of sets

In [48]:
s = set()
s.add(20)
s.add(20.0)
s.add("20")

In [49]:
len(s)

2

In [50]:
print(s)

{20, '20'}

In [51]:
m = set()

In [52]:
len(m)

0

Emty Dictionary

In [55]:
dict_my = {}

for i in range(4):
    value= input("enter values: ")
print(dict_my)

enter values: ddd
enter values: ddd
enter values: ddd
enter values: ddd
{}

In [61]:
fav_language = {}

for i in range(4):
    name = input("enter names: ")
    language = input("enter language: ")
    
    fav_language[name] = language
    
print("fav languages")
for name,language in fav_language.items():
    print(name +":"+ language)

enter names: v
enter language: e
enter names: m
enter language: k
enter names: v
enter language: h
enter names: b
enter language: u
fav languages
v:h
m:k
b:u

Can we change the value inside a list which is contained in sets

In [62]:
my_set = {("apple", "banana", "cherry"), ("orange", "grape", "kiwi")}

print("Original set:", my_set)

# Remove the list from the set
my_list = list(my_set.pop())

# Modify the list
my_list[1] = "mango"

# Add the modified list back to the set
my_set.add(tuple(my_list))

print("Modified set:", my_set)

Original set: {('orange', 'grape', 'kiwi'), ('apple', 'banana', 'cherry')}
Modified set: {('orange', 'mango', 'kiwi'), ('apple', 'banana', 'cherry')}