# Print

print is a function which helps to display a message or output in python.
message should be in strings

In [1]:
print("Hello")

Hello

# EXAMPLES

In [2]:
print('Hi sir, How are u?')  

print("Hi sir,How are u?")

Hi sir, How are u?
Hi sir,How are u?

In [3]:
print("Hi sir,
      How are u?")

SyntaxError: unterminated string literal (detected at line 1) (1803188138.py, line 1)

1.single and double quotations are used for single line messages  ('',"")

2. for multiple line message we use triple quotations ('''''')

In [ ]:
print('''Hi sir,
How are u?''')

# Variable

varaible is a memory location to store values

Syntax: var_name= value

In [4]:
var_name=10   # Here the value of var_name is 10

In [5]:
print(var_name)

10

# Rules and naming convention

1) Constant and variable names should have a combination of letters in lower case [a to z] or upper case [A to Z] or digit (0 to 9)
or an underscore(_)

Examples:
variable_name=10\
VARIABLE_NAME=10\
varname=10\
variable23=10

2) Create a name that makes sense. for example: variable makes sense than v (v=10)

3) If you want to create a variable name having two words, use UNDERSCORE to separate them.

example:

variable_name=10

4) Never use special symbols like ( ! @ # $ % ^ & *)

5) Donot start a variables name with digit


Example: donot use
    
@varname=10

23_name=10

6. Reserved words (Built-in keywords) cannot be used as variable name.

examples:
    
int=10  ( int is a function can't  assign as varaible )

In [6]:
v1=10
v2=20
print(v1,v2)

10 20

In [7]:
v1=10
v1=20
print(v1)  # Updating the varaible

20

In [8]:
a=b=c=25
print(a,b,c)

25 25 25

In [9]:
q=45
w=q
print(w)

45

# Data Types

int ---> will take whole number values not the decimal points from -ve to +ve

To find the datatype use type function

In [10]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [11]:
b=-10
print(b)
print(type(b))

-10
<class 'int'>

float ----> it can take decimal values from -ve to +ve

In [12]:
a=2.5
print(a)
print(type(a))

2.5
<class 'float'>

In [13]:
a=-2.5
print(a)
print(type(a))

-2.5
<class 'float'>

bool --> the output will be True (or) False

In True (T is capital letter )

In False (F is capital letter )

In [14]:
a=True
print(a)
print(type(a))

True
<class 'bool'>

In [15]:
b=False
print(b)
print(type(b))

False
<class 'bool'>

String ---> group of alphabets,messages lies between quotations only ('')

In [16]:
name="Examroom"
print(name)
print(type(name))

Examroom
<class 'str'>

complex ---> It takes real and imaginary

In [17]:
a=3+2j
print(a)
print(type(a))

(3+2j)
<class 'complex'>

# SEP and END  functions

1.sep function ---> it tells what need to be done b/w each objects (values (or) variables)

In [18]:
a=10
b=20
print(a,b,sep="/")

10/20

In [19]:
# if u what to print a and b values in separate line 

print(a,b,sep="\n")

10
20

In [20]:
a="Examroom"
b="AI/ML"
c="Department"
print(a,b,c,sep="__")

Examroom__AI/ML__Department

2. End function which helps what needs to be happen during the end of the print statement.

In [21]:
print("Hi, How are you",end="?")

Hi, How are you?

In [22]:
print("Studytonight",)
print("is awesome")

print("Studytonight", end= "\n")
print("is awesome")

Studytonight
is awesome
Studytonight
is awesome

By default, the print the method ends with a new line. This means there is no need to explicitly specify the parameter end as '\n'.

In [23]:
print("Studytonight", end=' ')
print("is awesome")

Studytonight is awesome

Note:  Both SEP,END functions should contains only string

In [24]:
print("Studytonight","has","been","created","for", sep = " _ ", end=" _STUDENTS")

Studytonight _ has _ been _ created _ for _STUDENTS

# Arithmetic operations

Arithmetic operations(-,+,*,/,//,%)

In [25]:
a=10
b=20
print(a+b)

30

In [26]:
print(a-b)
print(a*b)

-10
200

3 Types of divisions

/ ---> float division(it focus on quotient and gives the decimal values)

In [27]:
#example
a=10
b=3
print(a/b)

3.3333333333333335

// ---> floor division(it focus on quotient and gives the int values)

In [28]:
#example
a=10
b=3
print(a//b)

3

% ---> modulo (it focus on the remainder and gives reminder as output)

In [29]:
a=10
b=3
print(a%b)

1

# study about BODMAS Rule for arithmetic operations

# Comparsion operator (<,>,<=,>=,!=,==)

The output of comparsion operator is bool(True or False)

In [30]:
a=25
b=35
print(a>b)

False

In [32]:
print(a<b)

True

In [33]:
c=5
e=8
print(c>=e)

False

In [34]:
d=7
f=9
print(d<=f)

True

In [35]:
a=10
b=10
print(a!=b)

False

In [36]:
print(a==b)

True

# isalnum() --> This method checks if all the elements of a string are alphanumeric (a-z,A-Z and 0-9)

In [37]:
string="abcd"
string.isalnum()

True

In [38]:
s="abcd123"
s.isalnum()

True

# isalpha() --> This method checks if all the elemens of a string are alphabatical (a-z and A-Z)

In [39]:
string.isalpha()

True

In [40]:
s.isalpha()

False

# isdigit() ---> This method checks if all the elements of a string are digits (0-9)

In [41]:
a="1234"
a.isdigit()

True

In [42]:
b="abc1233"
b.isdigit()

False

# Logical operators (AND,OR,NOT)

# Logical operators are used to combined one or more conditions

# AND ---> If all the inputs are true, the o/p true

In [43]:
a=5
b=2
c=4

In [45]:
# example 1:

print((a>b) and (a>c))

True

In [46]:
# example 2:

print((b>a) and (b>c))

False

In [47]:
# example 3:

print((c>a) and (c>b))

False

# OR --> if any one of the operator is ture ,o/p is true

# OR --> if all the i/p are false then the o/p is false

In [48]:
a=5
b=2
c=4

In [49]:
# example 1:

print((a>b) or (a>c))

True

In [50]:
# example 2:

print((b>a) or (b>c))

False

In [51]:
# example 3:

print((c>a) or (a>b))

True

# NOT --> if the condition is true it gives the o/p as false and vise versa for false

# not(true)---> false

# not(false) ---> true

In [52]:
a=5
b=2

In [53]:
# Example 1:
    
print(not(a<b))

True

In [54]:
# Example 2:

print(not(a>b))

False

# Type Conversion

In [56]:
a=5   # a is int type 

print(float(a))  # converting int value into float

print(str(a))  # converting int value into string

print(bool(a))  # converting int value into bool 

print(complex(a))  # converting int value into complex

5.0
5
True
(5+0j)

In [57]:
b=10.5

print(int(b)) # converting float value into int 

print(str(b)) # converting float value into string 

print(bool(b)) # converting float value into bool 

print(complex(b)) # converting float value into complex

10
10.5
True
(10.5+0j)

In [60]:
c=5+3j

print(str(c))  # converting complex value into str

print(bool(c))  # converting complex into bool

print(int(c))   # not possible to convert complex into int

print(float(c)) # not possible to convert complex into float

(5+3j)
True

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [61]:
t=True

print(int(t))  # when u convert bool of True into int it gives o/p as 1

print(float(t)) #  when u convert bool of True into float it gives o/p as 1.0

print(complex(t)) # converting bool into complex  

print(str(t))     # converting bool into string

1
1.0
(1+0j)
True

In [62]:
f=False

print(int(f))  # when u convert bool of False into int it gives o/p as 0

print(float(f)) #  when u convert bool of False into float it gives o/p as 0.0

print(complex(f)) # converting bool into complex  

print(str(f))     # converting bool into string

0
0.0
0j
False

In [63]:
a="Examroom"

print(int(a))

print(float(a))

print(complex(a))

ValueError: invalid literal for int() with base 10: 'Examroom'

Note: if a string in alphabatical or alphanumerical cant't convert it into --> int,float,complex

In [64]:
a="examroom123"
b=""

print(bool(a))

print(bool(b))

True
False

Note: if a string is empty then the bool value is false

In [65]:
# Numerical String

a="123"

print(int(a))

print(float(a))

print(complex(a))

print(bool(a))      # when the string of elements are numerical can convert into any data type

123
123.0
(123+0j)
True

# String Indexing and Slicing

In [66]:
name="examroom"

In [ ]:
Note:
    
In python the index value of string starts from 0

index_value ---- name_of_the_alphabtes

0   ----> e
1  -----> x
2  -----> a
3  -----> m
4  -----> r
5   ----> o
6  -----> o
7  -----> m

indexing:

Syntax : name[index_value]

In [67]:
# example 1: featch  x alphabet from the name

name[1]

'x'

In [68]:
# example 2: featch m alphabets from the name

name[3]

'm'

# String Slicing


syntax: name[start:end:step]

Syntax: name[start_index_value:end_index_value:step_size]

In [74]:
name[::1]

'examroom'

In [72]:
name[0:4:1]

'exam'

In [73]:
name[0::2]  # step size is 2

'earo'

# Note:
    
1. step can be +ve and -ve

2. for +ve step value slicing happens from left to right

3. for -ve step value slicing happens from right to left

4. +ve step always (stop > start)  name[start:end:step]

5. -ve step always (start > stop)  name[start:end:step]

In [75]:
# +ve slicing

name[::1]   # By default for +ve slicing the start_index is 0 and the end_index is length of the string

'examroom'

In [76]:
# -ve slicing

name[::-1]

'moormaxe'

In [77]:
name[0:4]  # here the start_index < stop_index for +ve slicing

# end index is 4 (in slicing index 4 or index 4 value  will be excluded )

'exam'

In [78]:
name[4:0:-1]  # in -ve slicing  start_index > stop_index value

# 0 index value is exculded

'rmax'

# Note:

1. for reverse slicing step size will always -ve 

2. index value start from -1 t0 -len(string)

In [79]:
name[::-1] # By default for -ve slicing the start_index is -1 and the end_index is -(length of the string)

'moormaxe'

In [80]:
name[-1::-1]

'moormaxe'

In [81]:
name[-1:-5:-1]

'moor'

In [82]:
name[::-2]

'momx'

# Note:

In slicing space will also have index value

# Different ways of printing

Int --->         %d

Float --->       %f

String -->       %s

character-->     %c

# syntax : print("format specifier"%(varaible))

In [5]:
# Example for int

a=10.0
print("%d"%(a))
print("value of a is %d"%(a))

10
value of a is 10

In [86]:
# Example for float

a=15
print("%f"%(a))
print("The value a is %f"%(a))   # By default these float value give 6 decimal points

15.000000
The value a is 15.000000

In [13]:
# Example to contorl the decimal points in float

# syntax:  print("%.(no_of_decimal_points)f"%(variable))

a=16
print("%.2f"%(a))
print("The value of a is %.2f"%(a))

16.00
The value of a is 16.00

In [11]:
# Example for string

a="hello"

print("%s"%(a))
print("The given string is %s"%(a))

print("%(a))  # if u are not giving which dtype u are printing u will get error

hello
The given string is hello

TypeError: not all arguments converted during string formatting

# Format Function

Syntax: print("{}".format(varaibles))

In [95]:
a=10
print("{}".format(a))
print("the value of a is {}".format(a))

10
the value of a is 10

In [15]:
a=10
b=15

print(" {} {}".format(a,b))

print("the value of a is {} and the value of b is {}".format(a,b)) 

# by default a will take first poisition and b will take second position

 10 15
the value of a is 10 and the value of b is 15

In [99]:
a=20
b=30

print(" b {1} a {0}".format(a,b))

# here a has index value of 0 and b has index value of 1

 b 30 a 20

In [2]:
a=20
b=30

print(" b {} a {}".format(b,a))

# here a has index value of 0 and b has index value of 1

 b 30 a 20

In [100]:
a=20
b=30 
c=40

print("{2} {0} {1}".format(a,b,c))

40 20 30

In [103]:
a=25
b=35
c=45

print("{b1} {a1} {c1}".format(a1=a,b1=b,c1=c))

# u need to assign the values

35 25 45

 How to change the int values into float values?

Syntax: print("{:f}".format(varaible))

In [106]:
a=10
print("{:f}".format(a))  # by default 6 decimal points

10.000000

In [107]:
# control the decimal points

Syntax: print("{:.1f}".format(varaible))

In [4]:
a=10
print("{:.1f}".format(a))

10.0

In [109]:
a=10
b=20
c=30
print("{:.1f} {:.2f} {:.3f}".format(a,b,c))

10.0 20.00 30.000

In [110]:
a=15
b=25
c=35
print("{1:.2f} {0:.1f} {2:.3f}".format(a,b,c))

25.00 15.0 35.000

# User Input

In [112]:
string=input("string: ")
print(a)
print(type(a))

string: hello
hello
<class 'str'>

In [113]:
a=input("integer: ")
print(a)
print(type(a))    # By default input user gives string dtype if it's a number also

integer: 10
10
<class 'str'>

How to change the data type when we are giving the number through Input user

In [114]:
# Integer class

a=int(input("number: "))
print(a)
print(type(a))    # give dtype befor the input user

number: 10
10
<class 'int'>

In [115]:
# float class

a=float(input())
print(a)
print(type(a))

10
10.0
<class 'float'>

In [116]:
# String class

a=str(input())
print(a)
print(type(a))

10
10
<class 'str'>